/*
	bialy		#ffffff
	szary 1		#f5f5f5
	szary 2		#e9e9e9
	szary 3		#cccccc
	szary 3		#707070
	niebieski	#3572b0
	niebieski 2	#205081
*/

/* style ogólne */
body {
	margin: 0;
}


/* menu i treść */
.container {
	display: table;
	width: 100%;
}

.details,
.schedule {
	display: table-cell;
	vertical-align: top;
	padding: 20px;
}
