/*
	bialy		#ffffff
	szary 1		#f5f5f5
	szary 2		#e9e9e9
	szary 3		#cccccc
	szary 3		#707070
	niebieski	#3572b0
	niebieski 2	#205081
*/

/* style ogólne */
body {
	margin: 0;
	color: #333;
	font-size: 14px;
	line-height: 1.4;
	font-family: sans-serif;
	background: #f5f5f5;
}

a {
	color: #3572b0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	font-size: 14px;
	height: 30px;
	margin: 0;
	padding: 4px 10px;
	background: #f5f5f5;
	border: solid 1px #cccccc;
	border-radius: 3px;
}

button:hover,
button:focus {
	background: #e9e9e9;
	border-color: #999999;
	color: #000000;
}


/* nagłówek strony */
.header {
	margin: 0;
	padding: 10px;
	background: #205081;
	border-bottom: 1px solid #3572b0;
}

.header .logo {
	display: inline-block;
	margin: 0 20px 0 0;
	font-weight: bold;
	font-size: 30px;
	line-height: 1;
}

.header .logo a {
	color: #fff;
	text-decoration: none;
}

.header .schedule-add {
	vertical-align: text-bottom;
	background: #3572b0;
	border-color: #3572b0;
	color: #fff;
}

.header .schedule-add:hover,
.header .schedule-add:focus {
	background: #2a67a5;
}

/* menu i treść */
.container {
	display: table;
	background: #fff;
	width: 100%;
}

.details,
.schedule {
	display: table-cell;
	vertical-align: top;
	padding: 20px;
}

/* menu */
.schedule {
	width: 200px;
	border-right: 1px solid #ccc;
	background: #f5f5f5;
}

.schedule section {
	padding-bottom: 10px;
}

.schedule section + section {
	padding-top: 10px;
	border-top: solid 1px #ccc;
}

.schedule ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.schedule a {
	display: block;
	padding: 5px 20px;
	margin: 0 -20px;
	
}

.schedule a.active,
.schedule a:hover {
	background: #e6e6e6;
	text-decoration: none;
}

.schedule a:active {
	color: #fff;
	background: #3572b0;
}

.schedule h2 {
	margin: 0 0 10px 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	color: #707070;
}

/* treść */
.details header {
	margin: 0 0 20px;
}

.details h1 {
	display: inline-block;
	margin: 0;
	font-size: 21px;
}

.details .details-trigger-edit {
	float: right;
}


/* stopka */
footer {
	border-top: solid 1px #ccc;
	padding: 10px;
	color: #707070;
	font-size: 12px;
	text-align: center;
}